<main>
    <section class="title-section">
        <h1>Bem vindo ao <span>FOCCO</span></h1>
    </section>
    <section class="form-section">
        <h1>{{title}}</h1>
        <ng-content></ng-content>
        <button class="primary-button">{{ primaryBtn }}</button>
        <div>
            <span style="color: white">Forgot password? <span> dsd</span></span>
        </div>
        <div class="auth-apps">
            <button>{{btnGoogle}}</button>
            <button>{{btnGitHub }}</button>
        </div>
    </section>
</main>