<main>
    <section class="title-section">
        <div class="container-title">
            <h1>{{titlePrimary}}</h1>
            <span>{{titleSecondary}}</span>
            <p style="color: gray;">Seu app para armazenar, organizar e melhorar suas financas!</p>
        </div>
    </section>
    <section class="form-section">
        <div class="container-form">
            <h1>{{title}}</h1>
            <ng-content></ng-content>
            <button class="primary-button" 
                    (click)="submit()" 
                    type="submit">{{ primaryBtn }} 
                <i  class="fa fa-arrow-right arrow-style" 
                    style="background-color: transparent;">
                </i>
            </button>
            <div class="auth-apps">
                <button><i class="fa-brands fa-google github-style"></i>{{ btnGoogle }}</button>
                <button><i class="fa-brands fa-github google-style"></i>{{ btnGitHub }}</button>
            </div>
            <div class="container-text-account">
                <span class="textAccount">{{textAccount}}</span> 
                <span class="actionAccount">{{actionAccount}}</span>
            </div>
        </div>
    </section>
</main>

<script src="https://kit.fontawesome.com/4fd3334b70.js" crossorigin="anonymous"></script>
