main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

section{
    height: 100%;
}

.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
}

.form-section > .container-form{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-section > .container-form >  h1{
    font-weight: bold;
    color: white;
    padding: 0px 25px;
}

.form-section > .container-form > button{
    all: unset; 
    padding-left: 20px;
    background: rgb(0,194,153);
    background: linear-gradient(90deg, rgba(0,194,153,1) 0%, rgba(97,199,135,1) 56%, rgba(226,205,113,1) 100%);
    color: black; 
    font-weight: bold;
    text-align: left; 
    height: 3.90rem;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease; 
}


.form-section > .container-form > button:hover {
    background: linear-gradient(90deg, rgba(0,194,153,0.8) 0%, rgba(97,199,135,0.8) 56%, rgba(226,205,113,0.8) 100%); 
    backdrop-filter: blur(5px);
    background-color: rgba(0, 194, 153, 0.2); 
  }
  
  .form-section > .container-form > button:active {
    background: linear-gradient(90deg, rgba(0,194,153,0.6) 0%, rgba(97,199,135,0.6) 56%, rgba(226,205,113,0.6) 100%); 
    backdrop-filter: blur(8px); 
    background-color: rgba(0, 194, 153, 0.3); 
  }

.form-section > .container-form > button > i{
    margin-right: 15px;
}

.form-section > .container-form > .auth-apps{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-section > .container-form > .auth-apps > button{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    color: white;
    height: 3.90rem;
    border-style: none;
    font-size: 11px;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(0,194,153,1), rgba(226,205,113,1)) 1; 
    transition: background-image 0.5s ease;

}


.form-section > .container-form > .auth-apps > button > i{
   font-size: 23px;
   padding-right: 10px;
}

/* .animate-title{
    font-size: 5em;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(4444), cursor .4s step-end infinite alternate;
}


@keyframes cursor{
    50% { border-color: transparent;}
}

@keyframes typing {
   from {width: 0;} 
} */



.title-section{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-grow: 0.7;
}
.title-section > .container-title >  h1{
    font-size: 50px;
    margin: 0;
}

.title-section > .container-title > #second-title{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    color: #00C299;
}

.container-text-account{
    margin-top: 25px;
}

.textAccount{
    color: #676767;
    margin-right: 10px;
}

.actionAccount{
    color: #00C299;
    text-decoration: underline;
    cursor: pointer;
}
.actionAccount:hover{
    color: #51d2b6;
}
.actionAccount:active{
    color: #1d463d;
}

@media (max-width: 1498px) {

    .form-section > .container-form{
        width: 65%;
    }
}

@media (max-width: 1120px) {

    .form-section > .container-form{
        width: 75%;
    }
}

@media (max-width: 1000px) {

    .title-section{
        display: none;
    }


    .form-section > .container-form{
        width: 45%;
    }
}


@media (max-width: 768px) {
    .title-section{
        display: none;
    }

    .form-section > .container-form{
        width: 75%;
    }
}


@media (max-width: 460px) {
    .title-section{
        display: none;
    }

    .form-section > .container-form{
        width: 90%;
    }
}






