<div class="w-80">
    <div class="row header-line">
        <div class="col-md-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-2">
            <div>
                <button class="btn btn-outline-primary"></button>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="first-cards"></div>
        </div>
        <div class="col-md-3">
            <div class="first-cards"> </div>

        </div>
        <div class="col-md-3">
            <div class="first-cards"> </div>

        </div>
        <div class="col-md-3">
            <div class="first-cards"> </div>
        </div>
        
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="second-cards"></div>
        </div>
        <div class="col-md-6">
            <div class="second-cards"></div>
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-md-8">
            <div class="third-cards">
            </div>
        </div>
        <div class="col-md-3">
            <div class="third-cards">
            </div>
        </div>

        <div class="col-md-1">
            <div class="">
                <button class="btn btn-outline-primary">+</button>
            </div>
        </div>
    </div>
</div>