<div class="d-flex justify-content-between align-items-center">
    <div>
        <h1>Olá, {{ getUser }}</h1>
    </div>
    <div class="d-flex align-items-center">
        <div class="form-group mr-3 month-select">
            <div class="form-group select-with-icon">
                <select
                    class="form-control"
                    id="select-with-icons"
                    [(ngModel)]="currentMonth"
                    (change)="getAllTransactionsAgain()">
                    <option value="01">Janeiro</option>
                    <option value="02">Fevereiro</option>
                    <option value="03">Março</option>
                    <option value="04">Abril</option>
                    <option value="05">Maio</option>
                    <option value="06">Junho</option>
                    <option value="07">Julho</option>
                    <option value="08">Agosto</option>
                    <option value="09">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
            </div>
        </div>
        <div class="btn-user">
            <button class="bg-white"><i class="fa fa-user"></i></button>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-3 custom-col">
        <div class="first-cards total-value" style="padding: 19px">
            <div class="d-flex justify-content-between align-items-center">
                <div class="align-items-center">
                    <i class="fa-solid fa-piggy-bank"></i>
                    <span style="margin-left: 11px">Saldo total do mês</span>
                </div>
                <div>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
            <div class="d-flex align-items-center currentTotalValue mt-3">
                <span class="fw-regular fs-5">R$</span>
                <h2 style="font-size: 40px; margin-left: 10px">
                    {{ currentBalance ? currentBalance : "0,00" }}
                </h2>
            </div>
            <div class="d-flex justify-content-end mb-1">
                <span class style="color: gray">Previsto</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 custom-col">
        <div class="first-cards" style="padding: 19px">
            <div class="d-flex justify-content-between align-items-center">
                <div class="align-items-center">
                    <i class="fa-solid fa-minus"></i>
                    <span style="margin-left: 11px">Total Despesa do mês</span>
                </div>
                <div>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <span class="fw-regular fs-5">R$</span>
                <h2
                    class="fw-bold"
                    style="font-size: 40px; margin-left: 10px; color: #e53f52">
                    {{ currentEx ? currentEx : "0,00" }}
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-3 custom-col">
        <div class="first-cards" style="padding: 19px">
            <div class="d-flex justify-content-between align-items-center">
                <div class="align-items-center">
                    <i class="fa-solid fa-plus"></i>
                    <span style="margin-left: 11px">Saldo total do mês</span>
                </div>
                <div>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
            <div class="d-flex align-items-center currentTotalValue mt-3">
                <span class="fw-regular fs-5">R$</span>
                <h2 style="font-size: 40px; margin-left: 10px; color: #01d492">
                    {{ currentIncome ? currentIncome : "0,00" }}
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-3 custom-col">
        <div class="first-cards" style="padding: 19px">
            <div class="d-flex justify-content-between align-items-center">
                <div class="align-items-center">
                    <i _ngcontent-ng-c3224798851 class="fa-solid fa-sack-dollar"
                        aria-hidden="true"></i>
                    <span style="margin-left: 11px">Saldo total do mês</span>
                </div>
                <div>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
            <div class="d-flex align-items-center currentTotalValue mt-3">
                <span class="fw-regular fs-5">R$</span>
                <h2 style="font-size: 40px; margin-left: 10px; color: #d9bd32">
                    {{ currentInvest ? currentInvest : "0,00" }}
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="second-cards"></div>
    </div>
    <div class="col-md-6">
        <div class="second-cards"></div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-7">
        <div class="third-cards">
            <div
                class="third-header d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="title-with-bar" style="font-size: 25px">
                        <i class="fa fa-solid fa-wallet"></i>
                        Últimas Transações
                    </h5>
                </div>
                <div class style="margin-right: 15px;">
                    <span>Quantidade do mês: {{quantityTransactions}}</span>
                </div>
            </div>
            <div class="third-body" style="margin-top: 30px;">
                <div class="transactions-container">
                    @for (transaction of transactions; track $index) {
                    <div
                        class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            @if (transaction.cashflow == 1) {
                            <div class
                                style="width: 7px; height: 30px; background-color: #01d492; margin-right: 15px; border-radius: 0%;"></div>
                            }
                            @if (transaction.cashflow == 2) {
                            <div class
                                style="width: 7px; height: 30px; background-color: #e53f52; margin-right: 15px; border-radius: 0%;"></div>
                            }
                            @if (transaction.cashflow == 3) {
                            <div class
                                style="width: 7px; height: 30px; background-color: #d9bd32; margin-right: 15px; border-radius: 0%;"></div>
                            }
                            <div class="d-flex flex-column">
                                <span>{{transaction.name}}</span>
                                <span
                                    style="color: gray;">{{transaction.createat}}</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <span>R$ {{transaction.value}}</span>
                            <i class="fas fa-ellipsis-h"
                                style="margin-left: 20px;"></i>
                        </div>
                    </div>
                    <hr style="color: gray;">
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="third-cards"></div>
    </div>
</div>

<div class="box button-add">
    <div class="dropdown btn-add-transaction">
        <i class="fa-solid fa-plus"></i>
        <div class="items">
            <a href="#" style="--i: 1"><i
                    class="fa-solid fa-sack-dollar"
                    style="color: rgba(234, 205, 77, 0.8); margin-right: 10px"></i>Investimentos</a>
            <a href="#" style="--i: 2"><i
                    class="fa-solid fa-plus"
                    style="color: rgb(45, 140, 45); margin-right: 10px"></i>
                Receita</a>
            <a href="#" style="--i: 3"><i
                    class="fa-solid fa-minus"
                    style="color: rgb(186, 61, 61); margin-right: 10px"></i>
                Despesa</a>
        </div>
    </div>
</div>
